h3 {
  color:#1933EC;
  font-size:14pt;
  font-family:tahoma;
  font-weight: bold;
	
}
h1{
  color:#ffffff;
  font-size:21pt;

}

a {
  color:#ffffff;
}
h4{
	color:#ffffff;
}

table.wrap{
	width:80%;
	background-color:#A91E22;
    text-align:center;
	margin:0px;
}
td.left_column{
	width:30%;
	background-color:#DADBB6;
	
}
td.right_column{
	width:20%;
}
td.main_column{
	
	background-color:#7F1921;
	
}


table.page{
text-align:center;
margin:0px;

}
h2 {
  color:#ffffff;
  font-size:14pt;
  font-family:tahoma;

}
TABLE.body{
		width:100%;
		border:0px solid #ffffff;
		background-color:#99CCFF;   /*manually send message to client*/
		font-family:Tahoma,Arial;
		font-size:10pt;
		font-weight:none;
		color:#3399FF;   /*text font color  mname and lname- */
		text-align:left;
		}
TABLE.body a{
	color:#1933EC;    /*text font color  fname- */
}
TABLE.form{
		border:1px solid #ffffff;
		background-color:#3399FF;
		font-family:Verdana,Tahoma,Arial;
		font-size:8pt;
		font-weight:none;
		color:#1933EC;
		text-align:left;
		}

TABLE.top{
        
		font-family:Verdana,Tahoma,Arial;
		font-size:8pt;
		font-weight:none;
		color:#000000
		}

TABLE.top a{
		color:#000000
		}
TABLE.filter {
font-family:Verdana,Tahoma,Arial;
font-size:8pt;
  
}

#loggerdiv {

color:#FDE9EC;
font-family:Verdana,Tahoma,Arial;
font-size:8pt;
background-color:#1933EC;
}
b {
margin:0px;
}	
#smoothmenu1{
	width:80%;
	margin-right:0px;
	padding-right:0px;
}	

tr.th_title{
	background-color:#0099FF;
	
}
.th_title{
	background-color:#1933EC;
	color:#ffffff;
	
}
#text_style{
	color:#1933EC;
}
.pop_text{
	color:#1933EC;
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	
}

h2 a {
	
	color:#1933EC;
}
.profile {
	
}
.profile_personal_readonly {
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	width:100%;
}
.profile_medical_readonly{
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	width:100%;
}
.profile_status_readonly{
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	width:100%;
}
.profile_appoint_readonly{
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	width:100%;
}
td.label{
	font-weight:bold;
	color:#1933EC;
}

td.value{
	color:#1933EC;
}

#windowcontent{
	background-color:#1933EC;
}

.user_hi {
	color:#ffffff;
}

.user_hi a{
	color:#ffffff;
	text-decoration:none;
}

.user_hi a:hover{
	text-decoration:underline;
}
  
        
.treeMenuDefault {
    font-style: italic;
}
        
.treeMenuBold {
   font-style: italic;
   font-weight: bold;
}

#dashmenu a{
	color:#ffffff;
	text-decoration:none;
	font-size:14px;
}
#dashmenu a:hover{
	text-decoration:underline;
}
.menu{
		font-family:Verdana,Tahoma,Arial;
		font-size:8pt;
		font-weight:none;
}
.menu_item1{
	background-color:#321114;
	color:#ffffff;
	font-weight:bold;
	font-size:10pt;
	font-decoration:none;
}

.menu_item1 a{
	background-color:#321114;
	color:#ffffff;
	font-weight:bold;
	font-size:10pt;
	text-decoration:none;
}
.menu_item1 a:hover{
  	/** background-color:#FDE9EC;   **/
	text-decoration:underline;
	
}


.menu_item2 a{
  	/** background-color:#FDE9EC;   **/
	color:#FDE9EC;
	font-size:9pt;
	text-decoration:none;
	margin-left:10px;
}
.menu_item2 a:hover{
  	/** background-color:#FDE9EC;   **/
	text-decoration:underline;
	
}

.menu_item3 a{
	color:#FDE9EC;
	font-size:8pt;
	text-decoration:none;
	margin-left:30px;
	font-style:italic;
}

.menu_item3 a:hover{
  	/** background-color:#FDE9EC;   **/
	text-decoration:underline;
	
}


.reportbody {
	background-color:#FFFFFF;
	color:#A91E22;
	width:80%;
}

TABLE.mainreport{
	width:100%;
	text-align:center;
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
	color:#428BCA;   
}
.mainreport th{
	text-align:center;
	font-family:Tahoma,Arial;
	font-size:8pt;
	font-weight:bold;
	color:#428BCA;
}

.minireport{
	text-align:center;
	font-family:Tahoma,Arial;
	font-size:8pt;
	font-weight:none;
	color:#428BCA;
	width:100px;
}

TABLE.mini{
	text-align:center;
	font-family:Tahoma,Arial;
	font-size:8pt;
	font-weight:none;
	border:1px solid #000000;
	width:100px;
}

.tabbedpane a{
	color:#FDE9EC;
}

.p_logs{
	color:#1933EC;
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:none;
		
}

.reportperiod h3{
	color:#428BCA;
	font-family:Tahoma,Arial;
	font-size:10pt;
	font-weight:bold;
}

.reportprint a{
	color:#ffffff;
}

.pagination{
float:right;
font-weight:bold;
margin: 1em 0;
padding-right:40px;
}
 
.pagination ul{
margin: 0;
padding: 0;
text-align: right; /*Set to "left" or "right" to left/right align pagination interface*/
font-size: 100%;
}
 
.pagination li{
float:left;
list-style-type: none;
padding-bottom: 1px;
}
 
*:first-child+html .pagination li{ /*IE7 only CSS hack*/
margin-right: 4px;
 /*IE bug causes default spacing between links to disappear, so added it explicitly in IE7 */
}
 
.pagination a{
padding: 5px;
border: solid 1px #d5d5d5;
text-decoration: none; 
color: #a5a3a4;
display: block;
margin-right: 4px;
background-color: #f0efec;
}
 
.pagination a:hover{
padding: 5px;
border: 1px solid #c1df7d;
color: #8bbd17;
background-color: #e4f9b4;
}
 
.pagination .currentpage{ /*Style for currently selected page link*/
background-color:#e4f9b4;
margin-right:4px;
padding:5px;
border: solid 1px #c1df7d;
text-decoration: none; 
color: #8bbd17;
display: block;
}	










