#tbl-patientdetails-grid{
	background: #7F1921;
	
}

.grid-view table.items
{
        background: #7F1921;
		color: #7F1921;
}
.grid-view table.items th
{
        background: #7F1921;
		color: #ffffff;
}
.grid-view table.items tr.even
{
        background: #FDE9EC;
}
.grid-view table.items tr.odd
{
        background: #ffffff;
}
.grid-view table.items tr.selected
{
        background: #ECFBD4;
}
.grid-view table.items tr:hover
{
        background: #ECFBD4;
}

/**
.pager ul{
	
list-style-type: none;
padding: .5em 0;
display: inline;

}

.pager li a {
display: inline-table;
width: 1.5em;
height: 1.5em;
text-align: center;
vertical-align: text-middle;
text-decoration: none;
} 
**/
