/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 3:01:32 PM
    Author     : ADMIN
*/
.loader {
    border: 16px solid #f3f3f3;  Light grey 
    border-top: 16px solid #3498db;  Blue 
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;





}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
